name: CI/CD-Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Run Tests
    
      run: dotnet test --no-build --verbosity normal


    - name: Publish App
      run: dotnet publish CryptoApi.csproj -c Release -o out

    - name: Generate Deployment Package
      run: |
        cd out
        zip -r ../deploy.zip .

    - name: Deploy to AWS
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: 'CryptoApiApp'
        environment_name: 'CryptoApiApp-env'
        version_label: "v-${{ github.run_id }}-${{ github.run_attempt }}"
        region: eu-north-1
        deployment_package: deploy.zip
        wait_for_deployment: true